@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Barlow Light";
    src: url('assets/Barlow-Light.ttf');
}

@font-face {
    font-family: "Barlow";
    src: url('assets/Barlow-Regular.ttf');
}
@font-face {
    font-family: "Barlow Medium";
    src: url('assets/Barlow-Medium.ttf');
}
  
  